<!DOCTYPE html>
<html>
<head>
<title>Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./css/temp.css">
<a href="#"class="fa fa-instagram"></a>
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
</style>
</head>
<body>
  <div class="topnav">
   <div class="section">welcome to amazon</div>
            <div class="section">Today's Deals</div>
            <div class="section">Gift Cards & Registry</div>
            <div class="section">Sell</div>
            <div class="section">Help</div
    </div> class="search-container">
      
      <form action="/action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
      <a href="./images/rotor.png" id="nav-logo-sprites" class="nav-logo-link nav-progress-attribute"
      ></a>
    </div>
  </div>
<header class="display-container content wide" style="max-width:1600px;min-width:500px" id="home">
  <img src="./images/DRL.png" alt="shivam dora" class="centre" width="1000" height="500" >
  <div class="display-bottomleft padding-large opacity">
    <h1 class="center">DRONE RACING LEAGUE</h1>
  </div>
</header>


<div class="content" style="max-width:1100px">

  
  <div class="row padding-64" id="about">
    <div class="col m6 padding-large hide-small">
     <img src="./images/fpvdrone1.jpg" class="round image  opacity-min" alt="Table Setting" width="700" height="450">
    </div>

    <div class="col m6 padding-large">
      <h1 class="center">About FPV Racing</h1><br>
      <h5 class="center">First Peron View</h5>
      <p class="large">First Person View, or FPV, drone racing, is a sport where participants control "drones" (typically small radio-controlled aircraft or quadcopters), equipped with cameras while wearing head-mounted displays showing the live stream camera feed from the drones..</p>
      <p class="large text-grey hide-medium">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
  
  <hr>
  
  
  <div class="row padding-64" id="menu">
    <div class="col l6 padding-large">
      <h1 class="center">Our Event</h1><br>
      <h4>Freetylying</h4>
      <p class="text-grey"></p>you have to race about 10 minute of track race<br>
    
      <h4>100 Metre Of Rcae</h4>
      <p class="text-grey">You have to race about your full speed</p><br>
    
      <h4>Component Check</h4>
      <p class="text-grey">You have to how your Component that it is ssafe or not</p><br>
    
      <h4>Fail Safe</h4>
      <p class="text-grey">You have to come with your 2 to 3 kwads for safety purpose</p><br>
    
      <h4>Main racing League</h4>
      <p class="text-grey"> The Grand Prix</p>    
    </div>
    
    <div class="col l6 padding-large">
      <img src="./images/fpvchampion.jpg" class="round image opacity-min" alt="Menu" style="width:100%">
    </div>
  </div>

  <hr>

 
  <div class="container padding-64" id="contact">
    <h1>Contact</h1><br>
    <p>We are here to help you out for any technical issue and regards your regitration</p>
    <p class="text-blue-grey large"><b>Drone Racing League  ,california usa </b></p>
    <p>You can also contact us by phone <a href="">8946723686</a>  or email <a href="">drlracing@gmail.com</a>, or you can send us a message here:</p>
    <form action="/action_page.php" target="_blank">
      <p><input class="input padding-16" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="input padding-16" type="number" placeholder="How many people" required name="People"></p>
      <p><input class="input padding-16" type="datetime-local" placeholder="Date and time" required name="date" value="2020-11-16T20:00"></p>
      <p><input class="input padding-16" type="text" placeholder="Message \ Special requirements" required name="Message"></p>
      <p><button class="button text-blue-grey" type="submit">SEND MESSAGE</button></p>
    </form>
  </div>
  
</div>
<h6><a href="">TERMS AND CONDITION</a> </h6>
First you have to pay register fee after then you can acess our free services of wifi and broadband network. <br>
<strong>Every one should must carry there safety kit otherwise you are not eligible for the event </strong>



</body>
</html>
