.container{
    /* background-color: bisque; */
    display: grid;
    /* grid-template-areas: 50%; */
    
    grid-template-columns: 180px 180px 180px;
    grid-template-rows: 180px 180px 180px 180px;
    gap: 1rem;
    /* visibility: hidden; */
    /* opacity: 0.8; */
    
}
.box{
    border: 1px solid burlywood;
    border-radius: 5px;
    background-color: rgb(204, 123, 24);
    opacity: 0.5;

}
.box:nth-child(3){
    background-color: white;
    border: none;
}
.box:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    /* z-index: 10; */
}
.box:nth-child(2){
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: bisque;
    /* z-index: 5; */
}